<div class="col-md-12" style="margin-left: 50px; margin-top: 50px;">

    <div class="col-md-5 d-flex flex-row justify-content-around">

        <button type="button" class="btn btn-primary" (click)="cekHarga('Pertamax')">Pertamax</button>
        <button type="button" class="btn btn-secondary" (click)="cekHarga('Pertalite')">Pertalite</button>
        <button type="button" class="btn btn-success" (click)="cekHarga('Solar')">Solar</button>
        <button type="button" class="btn btn-danger" (click)="cekHarga('PertamaxPlus')">Pertamax Plus</button>

    </div>

    <br>

    <div class="col-md-5">
        <h1>Bensin yang dipilih: {{bensin}}</h1>

        <h2>Harga : {{harga}}</h2>

        <div class="mb-3">
            <label class="form-label">Jumlah (Liter)</label>
            <input type="number" [(ngModel)]="jumlahLiter" class="form-control" placeholder="Jumlah (liter)" name="jumlahLiter">
        </div>

        <div class="mb-3">
            <label class="form-label">Jumlah Bayar</label>
            <input type="number" [(ngModel)]="jumlahBayar" class="form-control" placeholder="Jumlah Bayar" name="jumlahBayar">
        </div>

        <button class="btn btn-success" style="margin-bottom: 20px;" (click) = "hitungYuk(jumlahLiter, jumlahBayar)">Hitung</button>

        <h5>Harga yang dibayar: {{total}}</h5>
        <h5>Status pembelian: {{status}}</h5>
        <ng-container *ngIf="showChange === true">
            <div [ngClass]="testClass">
                <h5>Uang kembali: {{change}}</h5>
            </div>
        </ng-container>
    </div>


</div>

