<app-head></app-head>

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">


      <!-- Layout container -->
      <div class="layout-page">

        <div class="row">
          <div class="col-md-2">
              <!-- Menu -->
              <app-sidebar></app-sidebar>
              <!-- / Menu -->
          </div>
          <div class="col-md-10">
               <!-- Navbar -->
              <app-navbar></app-navbar>
              <!-- / Navbar -->

              <!-- Content wrapper -->
              <div class="content-wrapper" style="padding-left: 20px;">
                <!-- Content -->

                <app-content data="Group List">
                    <app-head-content></app-head-content>
                    <app-table-dashboard></app-table-dashboard>
                    <br>
                    <app-table-dashboard></app-table-dashboard>
                  </app-content>
                <!-- / Content -->



                <div class="content-backdrop fade"></div>
              </div>
              <!-- / Content wrapper -->
              <!-- Footer -->
              <app-footer></app-footer>
              <!-- / Footer -->
          </div>
        </div>
        
      </div>
      <!-- / Layout container -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>
  <!-- / Layout wrapper -->

  <div class="buy-now">
    <a
      href="#"
      target="_blank"
      class="btn btn-primary btn-buy-now"
      >Something</a>
  </div>

  <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
<!-- </html> -->
