<div class="container-xxl flex-grow-1 container-p-y" style="height: 100%;" >
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">AstraPay /</span> {{ data }}</h4>

    <ng-content select="app-head-content"></ng-content>
    <ng-content select="app-table-dashboard"></ng-content>

</div>