<div style="margin: 50px;">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Website</th>
                <th scope="col">Company Name</th>
                <th scope="col">Company Catch Phrase</th>
                <th scope="col">Company BS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList">
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <p>Geo: {{user.address.geo.lat}}, {{user.address.geo.lng}}</p>
                    <p>Street: {{ user.address.street }}</p>
                    <p>Suite: {{ user.address.suite }}</p>
                    <p>City: {{ user.address.city }}</p>
                    <p>Zipcode: {{ user.address.zipcode }}</p>
                </td>
                <td>{{ user.phone }}</td>
                <td>{{ user.website }}</td>
                <td>{{ user.company.name }}</td>
                <td>{{ user.company.catchPhrase }}</td>
                <td>{{ user.company.bs }}</td>
            </tr>
        </tbody>
    </table>
</div>