<h1 class="text-danger">Hello World</h1>
<div class="alert alert-primary col-md-4" role="alert">
  Hi there, this is an alert
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="showData" [value]="true">
  <label class="form-check-label" for="flexRadioDefault1">
    Show
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" [(ngModel)]="showData" value="false">
  <label class="form-check-label" for="flexRadioDefault2">
    Hide
  </label>
</div>

<ng-container *ngIf="showData === true; else kesini">
  <h3>{{name}}</h3>
  <h3>{{age}}</h3>
  <h3>{{status}}</h3>
</ng-container>

<ng-template #kesini>
  <p>Halaman tidak ditampilkan</p>
</ng-template>

<ng-container [ngSwitch]="nomor">
  <ng-container *ngSwitchCase="1">1</ng-container>
  <ng-container *ngSwitchCase="2">2</ng-container>
  <ng-container *ngSwitchCase="3">3</ng-container>
  <ng-container *ngSwitchDefault>Default</ng-container>
</ng-container>


<!-- <app-card title="Form Add" name="Siapa Gitu" [age] = 15 [status] = "true" (dataCallBack)="onCallBackAdd($event)"></app-card>
<br> -->
<!-- <app-card [title]="person.title" [name]="person.name" [age]="person.age" [status]="person.status" (dataCallBack)="onCallBack($event)"></app-card>
<br>
<app-card (dataCallBack)="onCallBack($event)"></app-card> -->

<!-- <ng-container *ngFor="let data of personList">
  <app-card [title]="data.title" [name]="data.name" [age]="data.age" [status]="data.status" (dataCallBack)="onCallBack($event)"></app-card>
  <br>
</ng-container> -->