    <!-- Hoverable Table rows -->
    <div class="card">
        <h5 class="card-header">User List</h5>
        <div class="table-responsive text-nowrap">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>E-Mail</th>
                <th>DOB</th>
                <th>Photo</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              <ng-container *ngFor="let data of dataResponse">
                <tr>
                  <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{data.id}}</strong></td>
                  <td>{{ data.name }} </td>
                  <td>{{data.username}}</td>
                  <td>{{data.email}}</td>
                  <td>{{data.dob}}</td>
                  <td>
                    <a href="#"
                      ><img
                        src="{{ data.photo }}"
                        alt=""
                        width="70"
                        height="70"
                    /></a>
                  </td>
                  <td><button class="badge bg-label-primary me-1" (click)="getDetail(data)">Details</button></td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>
      </div>
      <!--/ Hoverable Table rows -->