<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-6 col-lg-3 col-xl-2">
        <img src="https://astrapay.com/static-assets/images/logos/logo-colorful.png"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-2">
        <form [formGroup]="formRegister" (ngSubmit)="doRegister()">

          <!-- Nama -->
          <div class="form-outline mb-4">
            <input type="text" id="name" class="form-control form-control-lg"
              placeholder="Full Name" formControlName="name" name="name">
            <ng-container *ngIf="(errorControl['name'].dirty || errorControl['name'].touched) && errorControl['name'].errors">
              <div *ngIf="errorControl['name'].errors['required']">
                <p class="text-danger">Please enter your name</p>
              </div>
            </ng-container>
          </div>


          <!-- Username (NOHP) -->
          <div class="form-outline mb-4">
            <input type="text" id="username" class="form-control form-control-lg"
              placeholder="Phone Number" formControlName="username" name="username">
              <ng-container *ngIf="(errorControl['username'].dirty || errorControl['username'].touched) && errorControl['username'].errors">
                <div *ngIf="errorControl['username'].errors['required']">
                  <p class="text-danger">Please enter your username</p>
                </div>
              </ng-container>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control form-control-lg"
              placeholder="E-mail address" formControlName="email" name="email">
              <ng-container *ngIf="(errorControl['email'].dirty || errorControl['email'].touched) && errorControl['email'].errors">
                <div *ngIf="errorControl['email'].errors['required']">
                  <p class="text-danger">Please enter your email</p>
                </div>
                <div *ngIf="errorControl['email'].errors['email']">
                  <p class="text-danger">Please enter correct email</p>
                </div>
              </ng-container>
          </div>

          <!-- DOB -->
          <div class="form-outline mb-4">
            <input type="date" id="dob" class="form-control form-control-lg"
              placeholder="Date of Birth" formControlName="dob" name="dob">
            <ng-container *ngIf="(errorControl['dob'].dirty || errorControl['dob'].touched) && errorControl['dob'].errors">
              <div *ngIf="errorControl['dob'].errors['required']">
                <p class="text-danger">Please enter your birthdate</p>
              </div>
            </ng-container>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="password" class="form-control form-control-lg"
              placeholder="Password" formControlName="password" name="password">
            <ng-container *ngIf="(errorControl['password'].dirty || errorControl['password'].touched) && errorControl['password'].errors">
              <div *ngIf="errorControl['password'].errors['required']">
                <p class="text-danger">Please enter your password</p>
              </div>
              <div *ngIf="errorControl['password'].errors['minlength']">
                <p class="text-danger">Password too short</p>
              </div>
            </ng-container>
          </div>

          <div class="form-outline mb-3">
            <input type="password" id="confirm_password" class="form-control form-control-lg"
              placeholder="Confirm Password" formControlName="confirm_password" name="confirm_password">
              <ng-container *ngIf="(!confirmPassword)">
                <div>
                  <p class="text-danger">Confirm Password not same</p>
                </div>
              </ng-container>
          </div>


          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" [disabled]="!formRegister.valid && !confirmPassword">Register</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="login"
                class="link-primary">Login</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2022. All rights reserved.
    </div>
    <!-- Copyright -->
  </div>
</section>