<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="height:100%; position:fixed">
    <div class="app-brand demo">
      <a href="#" class="app-brand-link">
        <span class="app-brand-logo demo">
          <img class="mt-1" src="https://play-lh.googleusercontent.com/0mfxVUEcKJwyACWS08ndnRvIXhwwUqb9oDdfrW_mlem78GHGhrr3DL5tGv93wfU7Cg" width="40px">
        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2" >AstraPay</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item">
        <a routerLink="/admin/dashboard" class="menu-link">
          <fa-icon [icon]="faGauge" class="p-2"></fa-icon>
          <div data-i18n="Analytics">Dashboard</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Nabung Bareng</span>
      </li>
      <li class="menu-item">
          <a href="#" class="menu-link">
              <fa-icon [icon]="faGauge" class="p-2"></fa-icon>
              <div data-i18n="Analytics">Dashboard</div>
          </a>
      </li>
      <li class="menu-item">
          <a routerLink="/admin/group-list" class="menu-link">
              <fa-icon [icon]="faTableColumns" class="p-2"></fa-icon>
              <div data-i18n="Analytics">Group List</div>
          </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Configuration</span>
      </li>
      <li class="menu-item">
          <a href="/admin/settings" class="menu-link">
              <fa-icon [icon]="faGears" class="p-2"></fa-icon>
              <div data-i18n="Analytics">Settings</div>
          </a>
      </li>
      <li class="menu-item">
          <a href="/admin/settings" class="menu-link">
              <fa-icon [icon]="faBook" class="p-2"></fa-icon>
              <div data-i18n="Analytics">Documentation</div>
          </a>
      </li>
    </ul>
  </aside>