<app-head></app-head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">


        <!-- Layout container -->
        <div class="layout-page">

          <div class="row">
            <div class="col-md-2">
                <!-- Menu -->
                <app-sidebar></app-sidebar>
                <!-- / Menu -->
            </div>
            <div class="col-md-10">
                 <!-- Navbar -->
                <app-navbar></app-navbar>
                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper" style="padding-left: 20px;">
                  <!-- Content -->

                  <!-- Modal -->
                    <button
                      style="margin-right: 8px; margin-bottom: 12px"
                      type="button"
                      class="btn btn-primary"
                      (click)="openModal(template)"
                    >
                      Add Users
                    </button>

                    <ng-template #template>
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">Tambah User</h4>
                        <button
                          type="button"
                          class="btn-close close pull-right"
                          aria-label="Close"
                          (click)="modalRef?.hide()"
                        >
                          <span aria-hidden="true" class="visually-hidden">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form class="row g-3">
                          <div class="col-md-12">
                            <label for="inputNama" class="form-label">Nama</label>
                            <input type="text" class="form-control" id="inputName5" />
                          </div>
                          <div class="col-md-12">
                            <label for="inputNoHP" class="form-label">No HP</label>
                            <input type="text" class="form-control" id="inputName5" />
                          </div>
                          <div class="col-md-6">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="inputEmail5" />
                          </div>
                          <div class="col-md-6">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input
                              type="password"
                              class="form-control"
                              id="inputPassword"
                            />
                          </div>
                          <div class="col-12">
                            <label for="inputTanggalLahir" class="form-label"
                              >Tanggal Lahir</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="inputTanggalLahir"
                              placeholder="yyyy-mm-dd"
                            />
                          </div>
            
                          <div class="col-12">
                            <label for="inputRole" class="form-label">Role</label>
                            <select id="inputRole" class="form-select">
                              <option selected>Pilih...</option>
                              <option>user</option>
                              <option>admin</option>
                            </select>
                          </div>

                          <div class="col-12">
                            <label for="inputFile" class="form-label">Photo</label>
                            <input type="file" name="inputFile" id="inputFile" class="form-control" accept="image/png, image/jpeg, image/gif" (change)="showPreview($event)">
                            <ng-container *ngIf="photo">
                              <img src="{{photo}}" alt="" width="200px">
                            </ng-container>
                          </div>
            
                          <div class="modal-footer">
                            <button
                              type="button"
                              class="btn btn-secondary"
                              data-bs-dismiss="modal"
                            >
                              Tutup
                            </button>
                            <button type="button" class="btn btn-primary" (click)="doAddUser()">Simpan</button>
                          </div>
                        </form>
                      </div>
                    </ng-template>
            
                  <!-- End Modal -->

                  <app-content data="Dashboard">
                    <app-head-content></app-head-content>
                    <app-table-dashboard [dataResponse]="user"></app-table-dashboard>
                  </app-content>

                  <!-- / Content -->



                  <div class="content-backdrop fade"></div>
                </div>
                <!-- / Content wrapper -->
                <!-- Footer -->
                <app-footer></app-footer>
                <!-- / Footer -->
            </div>
          </div>
          
        </div>
        <!-- / Layout container -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <div class="buy-now">
      <a
        href="#"
        target="_blank"
        class="btn btn-primary btn-buy-now"
        >Something</a>
    </div>

    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
<!-- </html> -->
